<div>
    <h3>Profile Edit</h3>

    {{#if error}}
        <h4>Something went wrong. Please try again.</h4>
    {{/if}}

    <form method="POST" id="updatefields">
        <div id="sevenfields">

            <label for="first">First name</label>
            <input name="first" type="text" autocomplete="off" value="{{first}}"><br>

            <label for="last">Last name</label>
            <input name="last" type="text" autocomplete="off" value="{{last}}"><br>

            <label for="email">Email</label>
            <input name="email" type="email" autocomplete="off" value="{{email}}"><br>

            <label for="pass">Password (8 characters minimum)</label>
            <input name="password" type="password" minlength="8" autocomplete="off"><br>

            <label for="age">Age</label>
            <input name="age" type="number" autocomplete="off" value="{{age}}"><br>

            <label for="city">City</label>
            <input name="city" type="text" autocomplete="off" value="{{city}}"><br>

            <label for="url">Homepage (begin with http:// or https://)</label>
            <input name="url" type="url" autocomplete="off" value="{{url}}"><br>
            {{#if errorurl}}
                <h4>Your url looks suspicious. Please enter something else or skip this field.</h4>
            {{/if}}

            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button>Update</button>

        </div>
    </form>

            {{#if update}}
                <h4>Your profile is updated.</h4>
            {{/if}}

Nothing to update? Go back to <a href="/login">Login</a>

</div>