{{!-- {{> shortexpl}} --}}

<div class="navbar"><a href="/petitiontext">Petition</a>  |  <a href="/thanks">My Signature</a>  |  <a href="/signers">Other Signees</a>  |  <a href="/logout">Logout</a></div>

{{#if update}}
    <h4>Your profile is updated.</h4>
{{/if}}


<h3>Edit Profile</h3>

{{#if error}}
    <h4>Something went wrong. Please try again.</h4>
{{/if}}

<form method="POST" id="updatefields">
    <div id="sevenfields">

        <div>
            <label for="first">First name</label><br>
            <input name="first" type="text" autocomplete="off" value="{{first}}">
        </div>

        <div>
            <label id="labellast" for="last">Last name</label><br>
            <input id="inputlast" name="last" type="text" autocomplete="off" value="{{last}}">
        </div>

        <div>
            <label for="email">Email</label><br>
            <input name="email" type="email" autocomplete="off" value="{{email}}">
        </div>

        <div>
            <label for="pass">Password (min. 8 characters)</label><br>
            <input name="password" type="password" minlength="8" autocomplete="off">
        </div>

        <div>
            <label for="age">Age</label><br>
            <input name="age" type="number" autocomplete="off" value="{{age}}">
        </div>

        <div>
            <label for="city">City</label><br>
            <input name="city" type="text" autocomplete="off" value="{{city}}">
        </div>

        <div class="homepage">
            <label for="url">Homepage (begin with http:// or https://)</label><br>
            <input name="url" type="url" autocomplete="off" value="{{url}}">
        </div>

        {{#if errorurl}}
            <h4>Your url looks suspicious. Please enter something else or skip this field.</h4>
        {{/if}}

    </div>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button>Update</button>

</form>